* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    outline: none;
    cursor: default;
    border-radius: 2px;
}

body {
    padding: 48px;
    margin: 0;
    color: #333;
    background: #ccc;
}

.title {
    font-size: 96px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}

.setup .seed {
    width: 800px;
    height: 120px;
}

.input, .button {
    display: block;
    font-size: 24px;
    padding: 12px;
    margin: 12px 0;
    border: none;
}

.button {
    display: inline-block;
    cursor: pointer;
}

.button[disabled=true] {
    cursor: not-allowed;
}

.overview {}

.geth_status {
    display: block;
    padding: 12px 24px;
    min-height: 104px;
}

.geth_status .button {
    width: 120px;
}

.geth_status .text {
    width: 100%;
    margin: 0 0 0 24px;
}

.geth_status.not_started {
    background: rgba(186, 55, 54, 0.64);
}

.geth_status.not_started .button {
    background: rgba(167, 52, 51, 0.73);
}

.geth_status.starting {
    background: #999;
}

.geth_status.starting .button {
    background: #666;
}

.geth_status.ready {
    background: rgba(41, 186, 12, 0.58);
}

.geth_status.ready .button {
    background: rgba(38, 156, 12, 0.67);
}
