*
    margin 0
    padding 0
    box-sizing border-box
    font-family 'PT Sans Narrow', sans-serif
    outline none

body
    margin 0
    padding 0
    font-size 18px

code
    font-family 'PT Sans Mono', monospace

.Padding3
    padding 3rem

.App
    .Tabs
        .Buttons
            padding 1rem
            background #333
            text-align right
            .Button
                padding 1rem
                color #ddd
                font-size 3rem
                font-weight bold
                cursor pointer
            .Selected
                background #c33
                color #fff
                text-shadow #000 0 0 2px

.Form
    font-size 2rem
    .Row
        display block
        margin-bottom 1.5rem
        .Label
            display block
        .Input
            font-size 2rem
            padding 0.6rem
