*
    margin 0
    padding 0
    box-sizing border-box
    font-family 'PT Sans Narrow', sans-serif
    font-weight normal
    color #333
    outline none
    transition 100ms ease-in

body
    margin 0
    padding 0
    font-size 18px
    cursor default
    user-select none

code
    font-family 'PT Sans Mono', monospace

.Tabs
    .TabButtons
        position fixed
        top 0
        left 0
        right 0
        background #333
        border-bottom 0.6rem solid #c33
        text-align right
        .TabButton
            padding 1rem
            color #999
            font-size 3rem
            font-weight bold
            cursor pointer
            display inline-block
            &:hover
                color #fff
        .Selected
            background #c33
            color #fff
            text-shadow #000 0 0 0.2rem
    .Content
        position fixed
        top 104px
        left 0
        right 0
        bottom 0
        overflow auto

.Padding3
    padding 3rem 3rem 0 3rem

.Padding2Top
    padding 2rem 0 0 0

.Form
    font-size 1.8rem
    .Title
        font-size 3rem
    .Row
        display block
        margin-bottom 1.5rem

.Input
    padding 0.6rem
    border 0.1rem solid #ccc
    color #666
    font-size 1.8rem

.Button
    padding 0.6rem
    border 0.1rem solid #333
    cursor pointer
    background #666
    color #fff
    font-weight bold
    font-size 1.8rem
    text-shadow #000 0 0 0.2rem

.WalletAccountsList
    .Item
        display: inline-block
        padding 1rem 0.75rem
        margin 0 1rem 1rem 0
        border 0.1rem solid #ddd
        &:hover
            cursor pointer
            border 0.1rem solid #999
            background #eee
        .Name
            font-size 1.8rem
        .Address
            font-size 0.9rem
    .Selected
        cursor pointer
        border 0.1rem solid #999
        background #eee

.WalletAccountDetails
    .Back
        float right
        font-size 1rem
        color #999
        text-decoration underline
        cursor pointer
        &:hover
            color #333
    .Name
        font-size 3rem
    .Address
        font-size 1rem
        user-select all
        cursor text

.WalletAccountStages
    padding 1.5rem 0 0 0
    .Item
        display inline-block
        padding 0 1rem 0 0
        color #ccc
        cursor default
    .Current
        color #333

.WalletAccountActions
    padding 1rem 0 0 1.2rem
    .Item
        list-style square
        color #666
        .Link
            text-decoration underline
            color #c33
            cursor pointer

.WalletBalances
    .Balance
        margin 0 1rem 0 0
        display inline-block
        text-align center
        border 0.1rem solid #ccc
        width 7.5rem
        cursor default
        .Amount
            padding 0.6rem 0 0 0
            font-size 1.5rem
            color #999
        .Unit
            padding 0 0 0.6rem 0
            font-size 1rem
            text-transform lowercase
            color #999
        .Label
            padding 0.6rem
            font-size 1rem
            text-transform lowercase
            background #ccc
            color #999
        &:last-of-type
            border 0.1rem solid #666
            .Amount
                padding 0.6rem 0 0 0
                font-size 1.5rem
                color #333
            .Unit
                padding 0 0 0.6rem 0
                font-size 1rem
                text-transform lowercase
                color #333
            .Label
                background #666
                color #fff
                text-shadow #000 0 0 1px

.WalletAccountTransactions
    .Loading
        font-size 0.75rem
        color #666
    .Title
        font-weight bold
    .Transaction
        font-size 0.9rem
        padding 0.3rem 0
        .Address
            font-size 0.9rem
        .Timespamp
            font-size 0.6rem
            margin 0 0.6rem
            color #999
    .Incoming
        text-align left
    .Outgoing
        padding 0.3rem 0.3rem 0.3rem 0
        text-align right
        background #eee

.TradingPairList
    width 24rem
    .CellHeader
        font-weight bold
    .Cell
        padding 0.5rem
        &:hover
            .Link
                text-decoration underline
                color #c33
                cursor pointer
    .Volume
        text-align right
        font-family PT Sans Mono, monospace
    tr
        &:nth-child(even)
            background #eee

.TradingPairFilter
    .Input
        height 3.2rem
        margin-right 1rem
